<div class="hero-section text-center d-flex flex-row flex-wrap">
  <div class="col-12 col-md-8 my-5">
    <h1 class="display-4">Hello, <span class="text-danger">I'm John</span></h1>
    <p class="lead">
      A passionate <span class="text-danger">Angular Developer </span>based in
      New York. Welcome to my portfolio!
    </p>
    <a class="btn btn-danger btn-lg" href="#portfolio" role="button"
      >View My Work</a
    >
  </div>
  <div class="col-12 col-md-4 my-5 ">
    <app-contact-card class="d-flex justify-content-center"></app-contact-card>
  </div>
</div>
